
.carslist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listcontainer {
  /* ... Otros estilos ... */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.pagebuttons {
  /* Estilos para los botones de paginación arriba */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px; /* Ajusta según sea necesario */
}

/* Estilos para los botones de paginación */
button {
  background-color: rgba(148, 33, 1, 0.693); /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  border: none;
  padding: 6px 16px; /* Relleno interno */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s, box-shadow 0.3s; /* Efecto de transición al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Agregar estilos adicionales para resaltar el botón activo */
  &:hover {
    background-color: rgb(218, 8, 4); /* Cambiar color al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: #ddd; /* Color de fondo gris cuando está deshabilitado */
    color: #555; /* Color de texto gris cuando está deshabilitado */
    cursor: not-allowed; /* Cursor de "no permitido" cuando está deshabilitado */
  }
}

