.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}


// error.page.module.scss

.error {
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
