.footer {
  background-color: #ffffff86;
  color: rgb(0, 0, 0);
  padding-inline: 1rem;
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 50px;
}

.footerlogo {
  
}
