.card {
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.carimage {
  width: 100%;
  border: 3px solid #ffffff00;
  border-radius: 1rem;
  overflow: hidden; 
  transition: transform 0.3s; 
}

.carimage {
  width: 100%;
  border: 3px solid #ffffff00;
  border-radius: 1rem;
  overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s; /* Agrega transiciones para ambos efectos */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega la sombra en todo momento */

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Ajusta la sombra al hacer hover */
    transform: scale(1.1); /* Amplía la imagen al hacer hover */
  }
  .imagen {
    width: 100%;
    border-radius: 1rem;
    transition: transform 0.3s;
  }
}


.card:hover .carimage,
.card:hover .carimage img {
  transform: scale(1.35);
}

.cardcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deletebutton {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 1;
}
.updatebutton {
  display: flex;
  justify-content: center;
  margin-top: 1rem; 
  position: absolute;
  top: 3px;
  left: 195px;
  z-index: 1;
}
