.card {
  width: 15rem;
  border: none;
  border-radius: 5rem;
  padding-top: 3rem;
}

.card-info-container {
  display: column;
  justify-content: space-between;
}

// .cardinfo {
//   display: column;
//   justify-content: space-between;
// }
